body {
  margin: 0px
}

p {
  margin: 0px;
}

.header-top-bar {
  background-color: #ffffff;
  min-height: 1.5%;
  padding-left: 7%;
  padding-right: 7%;
  overflow: hidden;
  clear: both;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 1%;
}

img.logo-img {
  cursor: pointer;
}

.header-top-bar-left {
  margin-top: 27px;
  width: 50%;
  float: left;
}

.header-top-bar-right {
  width: 50%;
  float: left;
  margin-top: 16px;
}

.header-contact-flex {
  display: flex;
}

.header-contact-flex>div {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #34404b;
}

.header-contact-flex>div>span a {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-decoration: none;
  color: #34404b;
}

.header-contact-flex>div:nth-child(2) {
  margin-left: 20px;
}

.header-contact-flex>div>img {
  margin-right: 9px;
  vertical-align: middle
}

.header-signup-flex {
  display: flex;
  justify-content: flex-end
}

.header-signup-flex>div {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #34404b;
  padding: 8px 20px 8px 20px;
  cursor: pointer;
  border-radius: 2px;
}

.header-signup-flex>div:nth-child(2) {}

.signupselected {
  border: 1px solid #ff5912;
  border-radius: 1px;
  padding: 8px 20px 8px 20px;
}

.header-main-bar {
  overflow: hidden;
  clear: both;
  padding-left: 6%;
  padding-right: 8%;
}

.logo-holder {
  width: 30%;
  float: left;
}

.navigation-holder {
  width: 70%;
  float: left;
}

ul.navigation-bar {
  list-style-type: none;
  margin-top: 4%;
  padding: 0;
  width: 69%;
  overflow: hidden;
  float: right;
  text-align: right
}

ul.navigation-bar li {
  /* float: right; */
  display: inline-block;
}

ul.navigation-bar li a {
  font-family: 'Ubuntu', sans-serif;
  float: left;
  margin-right: 37px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #34404b;
  text-decoration: none;
}

ul.navigation-bar li.active a {
  color: #ff5912;
}

ul.navigation-bar li.active a:after {
  content: "";
  display: block;
  ;
  width: 60%;
  padding-top: 5px;
  border-bottom: 3px solid #ff5912;
}

ul.navigation-bar li a:after {
  content: "";
  display: block;
  width: 60%;
  padding-top: 5px;
}

.main-banner {
  background-image: url('../images/Chef.png'), url('../images/Banner_Base_White.png');
  background-position: 97% bottom, left top;
  background-repeat: no-repeat, repeat;
  padding-top: 7%;
  padding-left: 12%;
  padding-bottom: 7%;
  background-size: auto, cover;
}

.banner-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 44px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #34404b;
  font-weight: 500;
  font-style: normal;
}

.banner-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.72px;
  text-align: left;
  color: #34404b;
  margin-top: 1%;
}

.main-banner button {
  font-family: 'Ubuntu', sans-serif;
  width: 218px;
  height: 46.2px;
  background-color: #fc4111;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
  border: none;
  margin-top: 5%;
}

.exam-dates {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #2f2f2f;
  font-family: Ubuntu;
  color: #f2f2f2;
  padding-left: 12%
}

.exam-dates-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  margin-right: 17px;
}

.exam-dates-date {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  margin-right: 48px;
}

.date-seperator {
  margin-right: 48px;
  font-size: 24px;
}

.dsa-cerificate-container {
  padding-left: 12%;
  padding-right: 12%;
  background-color: #f4f6f8;
  padding-top: 82px;
  padding-bottom: 52px;
}

.dsa-heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 46px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: normal;
  text-align: center;
  color: #34404b;
  margin-top: 0px;
  margin-bottom: 3%;
}

.dsa-content {
  text-align: center;
}

.dsa-content p {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: 0.6px;
  text-align: left;
  color: #2f2f2f;
}

.dsa-content p:first-child {
  margin-bottom: 2%;
}

.level-heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 46px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: normal;
  text-align: center;
  color: #34404b;
  margin-bottom: 0px;
  margin-top: 4%;
}

ul.levels-tabs {
  list-style-type: none;
  margin-top: 2%;
  padding: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 50px;
}

ul.levels-tabs li {
  /* float: right; */
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ff5912;
  margin-right: 7%;
  cursor: pointer;
}

.tabcontent {
  display: none;
}

.tabcontent:first-child {
  display: block;
}

ul.levels-tabs li.active {
  color: #34404b;
  font-size: 20px;
}

ul.levels-tabs li:last-child {
  margin-right: 3%;
}

ul.levels-tabs li.active:after {
  content: "";
  display: block;
  width: 20px;
  padding-top: 5px;
  border-bottom: 3px solid #ff5912;
}

ul.levels-tabs li:after {
  content: "";
  display: block;
  width: 60%;
  padding-top: 5px;
}

.tabs-container {
  padding-left: 12%;
  padding-right: 12%;
}

.tab-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: 0.6px;
  text-align: left;
  color: #2f2f2f;
}

.course-desc {
  margin-top: 2.4%;
  display: table;
  width: 100%
}

.course-desc .width-40 {
  width: 40%;
  float: left;
}

.course-desc .width-30 {
  width: 30%;
  float: left;
}

.course-desc .table-width-30 {
  width: 30%;
  display: table-cell
}

.course-desc .table-width-70 {
  width: 70%;
  display: table-cell
}

.vertical-middle {
  vertical-align: middle;
}

.p-l-5 {
  padding-left: 5%;
}

.course-desc .width-60 {
  width: 60%;
  float: left;
}

.course-desc-heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: 0.6px;
  text-align: left;
  color: #34404b;
}

.tab-internal-links {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: 0.6px;
  text-align: left;
  color: #ff5912;
  margin-top: 0.8%;
}

.m-t-17 {
  margin-top: 17px;
}

.course-price {
  background-image: url('../images/course-price.png');
  background-repeat: no-repeat;
  min-height: 172px;
  padding-left: 13%;
  padding-top: 4%;
}

.price-strike {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 0.66px;
  text-align: left;
  color: #2f2f2f;
  max-width: 113px;
  max-height: 33px;
}

.price-strike hr {
  transform: rotate(165deg);
  position: relative;
  top: -18px;
  width: 90%;
  border-color: #2f2f2f;
}

.discounter-price {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 0.66px;
  text-align: left;
  color: #2f2f2f;
  margin-right: 28px;
}

.discounter-price-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 0.66px;
  text-align: left;
  color: #2f2f2f;
}

.course-price-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 0.66px;
  text-align: left;
  color: #2f2f2f;
  margin-top: 8px;
}

.Enroll-button {
  width: 218px;
  height: 55.2px;
  background-color: #fc4111;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  color: #ffffff;
  border: none;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-top: 2%;
}

.certified-user-heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 46px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: normal;
  text-align: center;
  color: #34404b;
  margin: 0;
  margin-top: 7%;
}

.certified-user-subheading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: center;
  color: #2f2f2f;
  margin-top: 18px;
}

.user-card {
  height: 395px !important;
  background: linear-gradient(to right, #f7f7f7 50%, #fff 50%);
  /* border: solid 0.5px #cbcbcb; */
  padding-left: 15%;
  padding-top: 15%;
  padding-right: 15%;
}

.user-info-holder {
  margin-top: 45px;
}

.user-name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #4e4d4d;
}

.user-title, .user-company {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #4e4d4d;
}

.user-card hr {
  margin-top: 10%;
  margin-bottom: 5%;
}

.cerification-level {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #4e4d4d;
}

.user-card .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.blue {
  background-color: #387fcb;
}

.yellow {
  background-color: #f7ce44;
}

.orange {
  background-color: #e86a1c;
}

.red {
  background-color: red
}

.grey {
  background-color: #cecece;
}

.single-card-holder {
  height: 395px;
  overflow: hidden;
  border: solid 0.5px #cbcbcb;
  border-radius: 4px;
  padding: 0px;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(4, 21%);
  grid-auto-rows: auto;
  grid-gap: 4%;
  grid-row-gap: 3rem;
  margin-top: 6%;
  margin-bottom: 6%;
}

.certified-user-container {
  padding-left: 12%;
  padding-right: 12%;
}

.footer-container {
  background-color: #f2f2f2;
  padding: 2% 5% 4% 5%;
}

.footer-container hr {
  border: 1px solid #ffffff;
  margin: 3% -5%;
}

.footer-follow-us {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #28313b;
}

.footer-icons {
  list-style: none;
  text-align: center;
  padding: 0px;
}

.footer-icons li {
  display: inline-block;
  margin-right: 1%;
  cursor: pointer;
}

.footer-firstrow .footer-links-row {
  list-style: none;
  padding: 0px;
}

.footer-firstrow .footer-links-row li {
  display: inline-block;
  margin-right: 3%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #34404b;
  cursor: pointer;
}

.footer-firstrow .footer-links-row li.heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #34404b;
  margin-right: 3%;
}

.footer-firstrow .footer-links-row .dot-design {
  position: absolute;
  margin-top: -0.3%;
}

.footer-firstrow .footer-links-row .dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
}

.footer-firstrow .footer-links-row li.active:after {
  content: "";
  display: block;
  width: 60%;
  padding-top: 5px;
  border-bottom: 3px solid #ff5912;
}

.footer-firstrow .footer-links-row li.footer-menu:after {
  content: "";
  display: block;
  width: 60%;
  padding-top: 5px;
}

.footer-firstrow .footer-links-row li:after {
  content: none;
  display: block;
  width: 60%;
  padding-top: 5px;
}

/* second row */

.footer-secondrow {
  margin-top: 3%;
  overflow: hidden;
  clear: both;
}

.footer-secondrow .footer-links-row {
  list-style: none;
  padding: 0px;
  margin: 5px 0 0 0;
}

.footer-secondrow .footer-links-row li {
  display: inline-block;
  margin-right: 4%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #34404b;
  cursor: pointer;
}

.footer-secondrow .footer-links-row li.heading {
  display: inline-block;
  margin-right: 4%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #34404b;
}

.footer-secondrow .width70 {
  width: 70%;
  float: left;
}

.footer-secondrow .width30 {
  width: 30%;
  float: left;
}

.payment-methods {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.13;
  letter-spacing: -0.2px;
  text-align: left;
  color: #28313b;
}

.payment-methods img {
  margin-left: 55px;
  display: inline-block;
  vertical-align: middle;
}

/* testimonials */

.testimonial-container {
  background-color: #f4f6f8;
  padding-top: 5%;
  margin-top: 5%;
  padding-bottom: 7%;
}

.testimonial-heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 46px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: normal;
  text-align: center;
  color: #34404b;
  margin: 0px;
  margin-bottom: 30px;
}

.testimonial-subheading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: center;
  color: #34404b;
}

.single-testimony {
  background: linear-gradient(to right, #f2f2f2 20%, #fff 20%);
  /* border: solid 0.5px #cbcbcb; */
  /* padding-left: 15%;
  padding-top: 15%; */
  width: 52%;
  padding: 4%;
  padding-bottom: 2%;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.single-testimony .table {
  display: table;
}

.single-testimony .table-cell {
  display: table-cell;
}

.single-testimony .table-cell img.user-photo {
  position: absolute;
  top: 18%;
  max-height: 82%;
}

.single-testimony .table-cell:first-child {
  width: 20%;
  position: relative;
}

.testimony-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: left;
  color: #2f2f2f;
  position: relative;
  padding-left: 4%;
}

.testimony-text img {
  position: absolute;
  top: -19%;
  left: -3%;
}

.single-testimony .user-name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: left;
  color: #2f2f2f;
  margin-top: 5%;
  padding-left: 4%;
}

.single-testimony .user-designantion {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: 0.6px;
  text-align: left;
  color: #2f2f2f;
  padding-left: 4%;
}

.single-testimony hr {
  width: 90%;
  border-color: #f4f6f8;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 3%
}

.single-testimony .user-level {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: left;
  color: #2f2f2f;
  padding-left: 4%;
}

.single-testimony .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.single-testimony .dot-design {
  text-align: right;
  font-size: 23px;
}

.single-testimony .clearfix {
  overflow: hidden;
  clear: both;
}

.single-testimony .width50 {
  width: 50%;
  float: left;
}

.embla__slide__inner {
  padding: 0px !important;
  background: transparent !important;
}

.embla__slide {
  flex: 0 0 55% !important;
  position: relative;
}

.embla__slide:not(.is-selected) .single-testimony {
  opacity: 0.5;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.embla__nav--prev {
  left: 18% !important;
}

.embla__nav--next {
  right: 18% !important
}

.testimonial-slider {
  margin-top: 72px;
}

.testimonial-slider {
  background-color: transparent !important;
}

@media only screen and (min-width:640px) and (max-width: 1200px) {
  ul.navigation-bar li a {
    font-size: 12px;
  }
  ul.navigation-bar {
    width: 100%;
  }
  .banner-title {
    font-size: 21px;
  }
  .banner-text {
    font-size: 13px;
  }
  .main-banner button {
    width: 152px;
    height: 37.2px;
    font-size: 15px;
    margin-top: 5%;
  }
  .exam-dates-text {
    font-size: 16px;
    margin-right: 5px;
  }
  .exam-dates-date {
    font-size: 20px;
    margin-right: 27px;
  }
  .date-seperator {
    margin-right: 27px;
  }
  .dsa-heading {
    font-size: 33px;
  }
  .dsa-content p {
    font-size: 14px;
  }
  .dsa-content p:first-child {
    margin-bottom: 2%;
  }
  .level-heading {
    font-size: 33px;
  }
  ul.levels-tabs li.active {
    font-size: 17px;
  }
  ul.levels-tabs li {
    font-size: 20px;
  }
  ul.levels-tabs {
    margin-bottom: 3%;
  }
  .tab-text {
    font-size: 17px;
  }
  .course-desc-heading {
    font-size: 17px;
  }
  .tab-internal-links {
    font-size: 17px;
  }
  .course-desc .table-width-30 {
    width: 24%;
  }
  .course-desc .table-width-70 {
    width: 76%;
  }
  .course-price {
    padding-left: 18%;
    padding-top: 7%;
  }
  .price-strike, .discounter-price, .discounter-price-text, .course-price-text {
    font-size: 19px;
  }
  .Enroll-button {
    width: 193px;
    height: 48.2px;
    font-size: 16px;
  }
  .testimonial-heading {
    font-size: 33px;
  }
  .testimonial-subheading {
    font-size: 17px;
  }
  .embla__slide {
    flex: 0 0 73% !important;
  }
  .embla__nav--prev {
    left: 4% !important;
  }
  .embla__nav--next {
    right: 4% !important;
  }
  .testimony-text {
    font-size: 17px;
    padding-left: 4%;
  }
  .single-testimony .user-name {
    font-size: 17px;
    padding-left: 4%;
  }
  .single-testimony .user-designantion {
    font-size: 17px;
    padding-left: 4%;
  }
  .single-testimony .user-level {
    font-size: 17px;
    padding-left: 4%;
  }
  .certified-user-heading {
    font-size: 33px;
  }
  .certified-user-subheading {
    font-size: 17px;
  }
  .user-cards {
    grid-template-columns: repeat(3, 33%);
  }
  .user-info-holder {
    margin-top: 14%;
  }
  .footer-secondrow .width70 {
    width: 100%;
    float: none;
  }
  .footer-secondrow .width30 {
    width: 100%;
    float: none;
    margin-top: 3%;
  }
  .footer-firstrow .footer-links-row li, .footer-secondrow .footer-links-row li {
    font-size: 14px;
  }
  .header-contact-flex>div>span a {
    font-size: 12px;
  }
  .header-signup-flex>div {
    font-size: 12px;
  }
}

@media only screen and (min-width:320px) and (max-width: 767px) {
  .header-top-bar-left {
    width: 100%;
    float: none;
  }
  .header-top-bar-right {
    width: 100%;
    float: none;
  }
  .header-signup-flex>div {
    font-size: 12px;
  }
  .logo-holder {
    width: 100%;
    float: none;
  }
  .navigation-holder {
    width: 100%;
    float: none;
  }
  ul.navigation-bar {
    width: 100%
  }
  ul.navigation-bar li a {
    font-size: 14px;
  }
  ul.navigation-bar {
    float: none;
    text-align: center;
  }
  ul.navigation-bar li a {
    margin-right: 0px;
  }
  ul.navigation-bar li {
    margin-right: 7%;
  }
  ul.navigation-bar li:last-child {
    margin-right: 0px;
  }
  img.logo-img {
    cursor: pointer;
    max-width: 91%;
    padding: 3% 0px;
  }
  .banner-title {
    font-size: 23px;
    color: #3b3a3a;
    line-height: 1.39;
  }
  .banner-text {
    padding-right: 28%;
    font-size: 16px;
    margin-top: 22%;
    line-height: 2;
  }
  .main-banner button {
    width: 218px;
    height: 50.2px;
    font-size: 18px;
    line-height: 2.67;
    margin-bottom: 18%;
    margin-top: 9%;
  }
  .main-banner {
    padding-left: 7%;
  }
  .exam-dates {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-left: 7%;
    grid-gap: 4%;
    grid-row-gap: 2.5rem;
  }
  .date-seperator {
    display: none;
  }
  .exam-dates-text {
    font-size: 14px;
    color: #f0f0f0;
    margin: 0px;
  }
  .exam-dates-date {
    font-size: 18px;
    color: #f0f0f0;
    text-align: right;
  }
  .dsa-heading {
    font-size: 36px;
    color: #3b3a3a;
    text-align: left;
    margin-bottom: 15%;
  }
  .dsa-cerificate-container {
    padding-left: 7%;
    padding-right: 7%;
  }
  .dsa-content {
    text-align: left;
    padding-right: 7%;
  }
  .dsa-cerificate-container {
    padding-top: 18%;
  }
  .dsa-content p:first-child {
    margin-bottom: 15%;
  }
  .level-heading {
    font-size: 36px;
    letter-spacing: -1.37px;
    color: #3b3a3a;
    text-align: left;
    margin-top: 18%;
  }
  .level-container {
    padding-left: 8%;
    padding-right: 8%;
  }
  ul.levels-tabs li {
    font-size: 16px;
    ;
    line-height: 2.25;
    letter-spacing: 0.48px;
    text-align: left;
    color: #ff5912;
  }
  ul.levels-tabs li.active {
    font-size: 16px;
    line-height: 2.25;
    letter-spacing: 0.48px;
    color: #3b3a3a;
  }
  ul.levels-tabs li.active:after {
    width: 28px;
    padding-top: 0px;
  }
  ul.levels-tabs {
    text-align: left;
    margin-top: 5%;
    margin-bottom: 11%;
  }
  .tabs-container {
    padding-left: 0%;
    padding-right: 0%;
  }
  .tab-text {
    font-size: 18px;
    line-height: 1.72;
    letter-spacing: 0.54px;
    text-align: left;
    color: #2f2f2f;
  }
  .course-desc .width-30 {
    width: 100%;
    float: none
  }
  .course-desc .width-60.p-l-5 {
    width: 100%;
    float: none;
    padding-left: 0px;
  }
  .course-desc {
    margin-top: 17%;
    display: block;
  }
  .course-desc-heading {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.64;
    letter-spacing: 0.66px;
    text-align: left;
    color: #696969;
    margin-bottom: 4%;
  }
  .tab-internal-links {
    margin-top: 3%;
  }
  .course-desc .table-width-30 {
    width: 100%;
    display: block;
  }
  .course-price {
    background-image: url(../images/course-price_mobile.png);
    min-height: 300px;
    padding-top: 18%;
    background-size: cover;
  }
  .discounter-price {
    display: block;
    margin-top: 5%;
  }
  .discounter-price-text {
    display: block;
    margin-top: 5%;
  }
  .course-price-text {
    padding-right: 28%;
    margin-top: 11%;
  }
  .Enroll-button {
    margin: 10% 0% 23% 0%;
    height: 51px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.67;
    letter-spacing: normal;
    color: #ffffff;
  }
  .course-desc .table-width-70 {
    width: 70%;
    display: table-cell;
    width: 100%;
    display: block;
  }
  .testimonial-heading {
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: -1.37px;
    text-align: left;
    color: #3b3a3a;
    padding-left: 7%;
    margin-top: 15%;
  }
  .testimonial-container {
    padding-top: 1%;
    padding-bottom: 17%;
  }
  .testimonial-subheading {
    padding-left: 7%;
    padding-right: 17%;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 0.6px;
    text-align: left;
    color: #2f2f2f;
  }
  .embla__slide {
    flex: 0 0 90% !important;
  }
  .testimony-text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: 0.48px;
    text-align: left;
    color: #2f2f2f;
    padding-right: 13%;
  }
  .single-testimony {
    padding: 6% 6% 12% 6%;
  }
  .testimony-text img {
    position: absolute;
    top: -7%;
    left: -12%;
  }
  .single-testimony .table-cell img.user-photo {
    min-width: 100px;
    position: absolute;
    top: 67%;
  }
  .single-testimony .user-name {
    padding-left: 23%;
    margin-top: 24%;
  }
  .single-testimony .user-designantion {
    padding-left: 23%;
    font-size: 18px;
    line-height: 1.28;
    letter-spacing: 0.54px;
  }
  .single-testimony .clearfix {
    padding-left: 23%;
  }
  .single-testimony .width50 {
    width: 100%;
    float: none;
    text-align: left;
  }
  .single-testimony .dot-design {
    font-size: 12px;
  }
  .single-testimony .user-level {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 0.48px;
    text-align: left;
    color: #2f2f2f;
    padding-left: 0px;
  }
  .embla__nav {
    display: block !important;
  }
  .embla__nav--prev {
    top: 37%;
    left: 8% !important;
  }
  .embla__nav--next {
    top: 37%;
    right: 8% !important;
  }
  .certified-user-container {
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 18%;
  }
  .certified-user-heading {
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    text-align: left;
    color: #3b3a3a;
    margin-top: 15%;
  }
  .certified-user-subheading {
    display: none;
  }
  .user-cards {
    margin-top: 15%;
    grid-template-columns: 75%;
    margin-bottom: 0%;
    justify-content: center;
  }
  .footer-follow-us {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: normal;
    color: #28313b;
    margin-bottom: 7%;
  }
  .footer-container {
    padding: 10% 5% 15% 5%;
  }
  .footer-icons li {
    margin-right: 4%;
  }
  .footer-container hr {
    margin: 5% -5% 9% -5%;
  }
  .footer-firstrow .footer-links-row li {
    display: block;
    text-align: center;
    margin-bottom: 3%;
    font-size: 14px;
  }
  .footer-firstrow .footer-links-row li.heading {
    text-align: center;
    margin-bottom: 4%;
    font-size: 14px;
    color: #28313b;
  }
  .footer-firstrow .footer-links-row .dot-design {
    position: relative;
    margin-top: -2%;
    left: 2%;
  }
  .footer-firstrow .footer-links-row li.footer-menu:after {
    display: none;
  }
  .footer-firstrow .footer-links-row li.active {
    color: #ff5912;
  }
  .footer-secondrow .width70 {
    width: 100%;
    float: none;
  }
  .footer-secondrow .footer-links-row li {
    display: block;
    text-align: center;
    margin-bottom: 4%;
    font-size: 14px;
  }
  .footer-secondrow .footer-links-row li.heading {
    text-align: center;
    display: block;
    font-size: 14px;
    color: #28313b;
  }
  .footer-secondrow {
    margin-top: 15%;
  }
  .footer-secondrow .width30 {
    width: 100%;
    float: none;
    margin-top: 20%;
  }
  .payment-methods {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #28313b;
  }
  .payment-methods img {
    margin: 10px auto;
    display: block;
  }
  .header-contact-flex>div {
    width: 50%;
    text-align: right;
  }
  .header-contact-flex>div:nth-child(2) {
    margin: 0px;
  }
  .single-testimony hr {
    margin-left: 23%;
    width: 65%;
  }
}

@media only screen and (max-width:340px) {
  .header-contact-flex>div>span a {
    font-size: 10px;
  }
  .header-signup-flex>div {
    font-size: 10px;
  }
  ul.navigation-bar li a {
    font-size: 12px;
  }
  .main-banner button {
    width: 175px;
    height: 38.2px;
    font-size: 14px;
  }
  .dsa-heading {
    font-size: 30px;
    color: #3b3a3a;
    text-align: left;
    margin-bottom: 15%;
  }
  .dsa-content {
    text-align: left;
    padding-right: 12%;
  }
  .exam-dates-date {
    font-size: 15px;
  }
  .exam-dates-text {
    font-size: 13px;
  }
}

@supports (-ms-ime-align:auto) {
  .single-testimony .table-cell img.user-photo {
    position: relative;
  }
  .testimonial-img-container {
    position: absolute;
    top: 18%;
    max-height: 82%;
  }
}